<div id="post-{{id}}" class="image-block">
    <img src="{{thumbnail}}" alt="Missing Image">
    <div class="details">
        <p class="img-title">{{title}}</p>
        <p class="img-text">{{description}}</p>
        <div class="details-box">
            <a href="/post/{{id}}" class="detail-button">Details</a>
            <i class="far fa-share-square"></i>
            <i class="far fa-comment-alt"></i>
            <i class="far fa-eye"></i>
        </div>
    </div>
</div>